# 1. Import Libraries & Data Set

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('C://Users/Admin/Documents/Y2S2/Data Science Toolbox/Assignment/labeled_data.csv')

# 2. Perform Exploratory Data Analysis (EDA)

## 2.1. Display Information of the Data Set

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

## 2.2 Describe the Data Set

In [17]:
df.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

## 2.3 Display the First & Last 10 Rows of Data

In [9]:
df.head(10)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5,5,3,1,2,0,1,"!!!!!!!!!!!!!!!!!!""@T_Madison_x: The shit just..."
6,6,3,0,3,0,1,"!!!!!!""@__BrighterDays: I can not just sit up ..."
7,7,3,0,3,0,1,!!!!&#8220;@selfiequeenbri: cause I'm tired of...
8,8,3,0,3,0,1,""" &amp; you might not get ya bitch back &amp; ..."
9,9,3,1,2,0,1,""" @rhythmixx_ :hobbies include: fighting Maria..."

In [10]:
df.tail(10)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
24773,25286,3,1,2,0,1,you niggers cheat on ya gf's? smh....
24774,25287,3,0,3,0,1,you really care bout dis bitch. my dick all in...
24775,25288,3,0,3,0,1,"you worried bout other bitches, you need me for?"
24776,25289,3,3,0,0,0,you're all niggers
24777,25290,3,2,1,0,0,you're such a retard i hope you get type 2 dia...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

## 2.4 Check if there is any Missing Values

In [12]:
df.isnull().sum()

Unnamed: 0            0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

## 2.5 Check the Total Number and Percentage of Each Label Assigned to Tweets.

Note: The class column indicates whether the tweet is considered as a hate speech (0), offensive language (1), or neither (2), based on majoeiry votes.

### 2.5.1 Hate Speech

In [39]:
# Number of Tweets labelled as "Hate Speech"
df[df['class'] == 0].shape[0]

1430

In [40]:
# Percentage of Tweets labelled as "Hate Speech"
(df[df['class'] == 0].shape[0]/df.shape[0]) * 100

5.770084332001776

### 2.5.2 Offensive Speech

In [41]:
# Number of Tweets labelled as "Offensive Speech"
df[df['class'] == 1].shape[0]

19190

In [42]:
# Percentage of Tweets labelled as "Offensive Speech"
(df[df['class'] == 1].shape[0]/df.shape[0]) * 100

77.43211072105879

### 2.5.3 Neither

In [43]:
# Number of Tweets labelled as "Neither"
df[df['class'] == 2].shape[0]

4163

In [44]:
# Percentage of Tweets labelled as "Neither"
(df[df['class'] == 2].shape[0]/df.shape[0]) * 100

16.797804946939436

# 3. Data Cleaning

In [46]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

#Remove special characters using the regular expression library
import re

#set up punctuations we want to be replaced
REPLACE_NO_SPACE = re.compile("(\.)|(\;)|(\:)|(\!)|(\')|(\?)|(\,)|(\")|(\|)|(\()|(\))|(\[)|(\])|(\%)|(\$)|(\>)|(\<)|(\{)|(\})")
REPLACE_WITH_SPACE = re.compile("(<br\s/><br\s/?)|(-)|(/)|(:).")